<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="img/weathericon.png" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This is me</p>
        <img class="aboutImg" src="img/SpiderMan.png" />
    </div>
    {{>footer}}
</body>

</html>